<!-- ng2-chart -->
<div class="row">
	<app-chart [data]="chartData" [labels]="chartLabels" [legend]="true" [type]="chartType" [chartTypePicker]="true" ></app-chart>
	<app-chart [data]="locationData" [labels]="locationLabels" [legend]="true" [type]="'pie'" [chartTypePicker]="true"></app-chart>
</div>

<!-- <app-chart [data]="ageLocationData" [labels]="locationLabels" [legend]="true" [type]="'line'" [chartTypePicker]="true"></app-chart> -->

<!-- angular2-highchart  
<app-highchart></app-highchart>-->

<!-- googlechart 
<button (click)="viewCharts=!viewCharts">View Charts</button>
<div *ngIf="viewCharts">
	<app-google-pie-chart [title]="'Location'" [data]="locationData" [labels]="locationLabels"></app-google-pie-chart>
</div>
-->