<template [ngIf]="personPage != null">
    <div id="list" class="row">
        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th><app-table-sort (click)="updateCharts()" [table]="self" [page]="personPage" [label]="'First Name'" [property]="'firstname'" ></app-table-sort></th>
                        <th><app-table-sort (click)="updateCharts()" [table]="self" [page]="personPage" [label]="'Last Name'" [property]="'lastname'" ></app-table-sort></th>
                        <th><app-table-sort (click)="updateCharts()" [table]="self" [page]="personPage" [label]="'Age'" [property]="'age'" ></app-table-sort></th>
                        <th><app-table-sort (click)="updateCharts()" [table]="self" [page]="personPage" [label]="'Location'" [property]="'location'" ></app-table-sort></th>
                        <th class="actions">Actions</th>
                        <th class="deleteAll">DeleteAll</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [ngSwitch]="editable" *ngFor="let person of personPage.content; let i=index">
                        <td *ngSwitchCase="true"><input #frst (keyup)="checkIfChange(frst)" type="text" [(ngModel)]="person.firstname" placeholder="name" /></td>
                        <td *ngSwitchCase="true"><input  #lst (keyup)="checkIfChange(lst)" type="text" [(ngModel)]="person.lastname" placeholder="name" /></td>
                        <td *ngSwitchCase="true"><input  #age (keyup)="checkIfChange(age)" type="text" [(ngModel)]="person.age" placeholder="age" /></td>
                        <td *ngSwitchCase="true"><input  #location (keyup)="checkIfChange(location)" type="text" [(ngModel)]="person.location" placeholder="location" /></td>
                        <td  (click)="toggleEditable(true)"  *ngSwitchCase="false">{{person.firstname}}</td>
                        <td (click)="toggleEditable(true)"  *ngSwitchCase="false">{{person.lastname}}</td>
                        <td  (click)="toggleEditable(true)"  *ngSwitchCase="false">{{person.age}}</td>
                        <td  (click)="toggleEditable(true)"  *ngSwitchCase="false">{{person.location}}</td>
                        <td class="actions">
                            <a class="btn btn-danger btn-xs" (click)="currentPerson=person" data-toggle="modal" data-target="#delete-modal">
                                <i class="fa-lg fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="deleteAll">
                            <a>
                                <input type="checkbox"/>
                            </a>
                        </td>
                    </tr>
                    <tr [ngSwitch]="editable" style="background-color: #888;">
                        <td (keyup)="isAdd=true" (click)="toggleEditable(false)"><input type="text" [(ngModel)]="newPerson.firstname" placeholder="firstname" /></td>
                        <td (keyup)="isAdd=true" (click)="toggleEditable(false)"><input type="text" [(ngModel)]="newPerson.lastname" placeholder="lastname" /></td>
                        <td (keyup)="isAdd=true" (click)="toggleEditable(false)"><input type="text" [(ngModel)]="newPerson.age" placeholder="age" /></td>
                        <td (keyup)="isAdd=true" (click)="toggleEditable(false)"><input type="text" [(ngModel)]="newPerson.location" placeholder="location" /></td>
                        <td class="actions" style="background-color: #fff;">
                            <a  *ngIf="isAdd && !editable" class="btn btn-success btn-xs" (click)="add()">
                                <i class="fa-lg fa fa-plus-square" aria-hidden="true"></i>
                            </a>
                            <a *ngSwitchCase="true" class="btn btn-success btn-xs" (click)="toggleEditable(false)">
                                <i class="fa-lg fa fa-ban" aria-hidden="true"></i>
                            </a>
                            <a *ngIf="isChanged" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#update-modal" (click)="checkForUpdate()">
                                <i class="fa-lg fa fa-cloud-upload" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="deleteAll" style="background-color: #fff;">
                            <a class="btn btn-danger btn-xs" (click)="deleteAll()">
                                <i class="fa-lg fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="row-size" type="text" [(ngModel)]="pageListSize" placeholder="number of rows to display" />
                            <a class="btn btn-success btn-xs" (click)="fetchPage(0, pageListSize, null)">
                                <i class="fa-lg fa fa-refresh" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- /#list -->

    <app-table-pagination  (click)="updateCharts()" [table]="self" [page]="personPage" ></app-table-pagination>

    <!-- Modal Delete-->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">Delete person</h4>
                </div>
                <div class="modal-body">
                    Do you want to remove this item ?
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="delete(currentPerson)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Update -->
    <div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">Table Updated</h4>
                </div>
                <div class="modal-body">
                    {{updated}} row(s) updated.
                </div>
                <div class="modal-footer">
                    <button (onclick)="updated=0" type="button" class="btn btn-default" data-dismiss="modal" data-dismiss="modal">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <app-report-sheet [tableSize]="pageListSize" [tableData]="personPage.content"></app-report-sheet>
</template>
